<div class="ground-creation-background">
  <% if @sus_user %>
  <% controller.redirect_to root_path, notice:"Unauthorized access" %>
  <%else%>
  <%= render 'pages/header'%>

  <%= render 'form', ground: @ground %>

  <% end %>  
</div>
