<nav class="home-navbar" style="display: flex; justify-content: space-between;">
	<div id ="" class="cancel-btn" style="width:50%; font-size: 20px; margin-left:20px">GroundCheck</div>
	<div class="">
	    <%= link_to "About",
	    about_path,	class: "nav-link cancel-btn" %>
	</div>
</nav>