<%= render 'pages/header'%>
<div class="my-grounds-holder">
	<div class="my-grounds-body">
		<div class="custom-jumbotron w-100">
		  <div class="container">
		    <h1 class=" main-title">My Grounds</h1>
		    <p class="lead-title">This is a list of all the grounds you own.</p>
		  </div>
		</div>
		<div class="owned-grounds-holder">
			<% if @mygrounds != []%>
				<% @mygrounds.each do |fav_ground| %>
					<div class="favorite-ground-post">
						<div class="ground-result-post-title">
							<% ground_name = fav_ground.ground_name %>
							<span><%= ground_name[0..15] %></span>
						</div>
						<% if fav_ground.location %>
							<div>
								<div class="ground-result-post-subtitle">Location:</div>
								<% ground_location = fav_ground.location%>
								<div><%= ground_location[0..50] %></div>
							</div>
						<% end %>
						<div>
							<%= link_to 'RESERVE', fav_ground, class: "btn btn-success cancel-btn"%>
						</div>
					</div>
				<% end %>
			<% elsif @mygrounds == [] %>
				<h3>YOU DONT OWN ANY GROUNDS</h3>
			<% end %>			
		</div>
	</div>
</div>